In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("pima-indians-diabetes.data.csv")
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Class
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [18]:
from sklearn.linear_model import SGDClassifier
from sklearn.model_selection import train_test_split
from sklearn import preprocessing
from sklearn.metrics import confusion_matrix

from sklearn.metrics import classification_report

from sklearn.metrics import accuracy_score
from sklearn.metrics import f1_score

In [5]:
X = df.drop(['Class'], axis=1)
y = df['Class']

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, shuffle = True)

display(X_train.describe())
display(y_train.describe())
display(X_test.describe())
display(y_test.describe())

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
count,614.000000,614.000000,614.000000,614.000000,614.000000,614.000000,614.000000,614.000000
mean,3.822476,119.851792,68.962541,20.006515,75.441368,32.095765,0.463498,33.175896
std,3.396488,31.382124,19.849685,15.787949,107.033646,8.103737,0.325907,11.767390
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.125000,0.238000,24.000000
50%,3.000000,116.000000,72.000000,22.000000,18.000000,32.250000,0.361000,29.000000
75%,6.000000,139.750000,80.000000,32.000000,120.000000,36.800000,0.612750,41.000000
max,17.000000,199.000000,122.000000,63.000000,680.000000,67.100000,2.420000,81.000000

count    614.000000
mean       0.343648
std        0.475313
min        0.000000
25%        0.000000
50%        0.000000
75%        1.000000
max        1.000000
Name: Class, dtype: float64

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
count,154.000000,154.000000,154.000000,154.000000,154.000000,154.000000,154.000000,154.000000
mean,3.935065,125.051948,69.675325,22.649351,97.175325,31.581169,0.505279,33.500000
std,3.269337,34.015527,17.294785,16.474394,142.477065,6.948953,0.351238,11.766381
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.088000,21.000000
25%,1.000000,101.000000,64.500000,7.250000,0.000000,27.525000,0.265000,24.000000
50%,3.000000,119.500000,72.000000,25.000000,44.500000,31.400000,0.398500,29.000000
75%,6.000000,145.500000,78.000000,33.000000,143.750000,35.675000,0.655750,39.750000
max,14.000000,198.000000,106.000000,99.000000,846.000000,49.700000,2.329000,69.000000

count    154.000000
mean       0.370130
std        0.484415
min        0.000000
25%        0.000000
50%        0.000000
75%        1.000000
max        1.000000
Name: Class, dtype: float64

In [10]:
sgd_clf = SGDClassifier(random_state=42)
sgd_clf.fit(X_train, y_train)

SGDClassifier(alpha=0.0001, average=False, class_weight=None,
              early_stopping=False, epsilon=0.1, eta0=0.0, fit_intercept=True,
              l1_ratio=0.15, learning_rate='optimal', loss='hinge',
              max_iter=1000, n_iter_no_change=5, n_jobs=None, penalty='l2',
              power_t=0.5, random_state=42, shuffle=True, tol=0.001,
              validation_fraction=0.1, verbose=0, warm_start=False)

In [13]:
y_pred = sgd_clf.predict(X_test)
cm = confusion_matrix(y_test, y_pred)
print(cm)

[[95  2]
 [53  4]]

In [15]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.64      0.98      0.78        97
           1       0.67      0.07      0.13        57

    accuracy                           0.64       154
   macro avg       0.65      0.52      0.45       154
weighted avg       0.65      0.64      0.54       154

In [17]:
y_train_pred = sgd_clf.predict(X_train)
print("Accuracy Score", accuracy_score(y_test, y_pred)*100)

Accuracy Score 64.28571428571429

In [19]:
print(f1_score(y_test, y_pred))

0.12698412698412698

In [21]:
df = pd.read_csv("SAheart.csv")
df.head()

   sbp  tobacco   ldl  adiposity  famhist  typea  obesity  alcohol  age  chd
1  160    12.00  5.73      23.11  Present     49    25.30    97.20   52    1
2  144     0.01  4.41      28.61   Absent     55    28.87     2.06   63    1
3  118     0.08  3.48      32.28  Present     52    29.14     3.81   46    0
4  170     7.50  6.41      38.03  Present     51    31.99    24.26   58    1
5  134    13.60  3.50      27.78  Present     60    25.99    57.34   49    1

In [22]:
le = preprocessing.LabelEncoder()
df[['famhist']]  = le.fit_transform(df[['famhist']])

display(df.head())

X = df.drop(['chd'], axis=1)
y = df['chd']

C:\Users\lazaropd\Anaconda3\envs\PythonGPU\lib\site-packages\sklearn\preprocessing\_label.py:251: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

   sbp  tobacco   ldl  adiposity  famhist  typea  obesity  alcohol  age  chd
1  160    12.00  5.73      23.11        1     49    25.30    97.20   52    1
2  144     0.01  4.41      28.61        0     55    28.87     2.06   63    1
3  118     0.08  3.48      32.28        1     52    29.14     3.81   46    0
4  170     7.50  6.41      38.03        1     51    31.99    24.26   58    1
5  134    13.60  3.50      27.78        1     60    25.99    57.34   49    1

In [29]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(323, 9) (139, 9) (323,) (139,)

In [30]:
sgd_clf = SGDClassifier(random_state=42)
sgd_clf.fit(X_train, y_train)

SGDClassifier(alpha=0.0001, average=False, class_weight=None,
              early_stopping=False, epsilon=0.1, eta0=0.0, fit_intercept=True,
              l1_ratio=0.15, learning_rate='optimal', loss='hinge',
              max_iter=1000, n_iter_no_change=5, n_jobs=None, penalty='l2',
              power_t=0.5, random_state=42, shuffle=True, tol=0.001,
              validation_fraction=0.1, verbose=0, warm_start=False)

In [31]:
y_pred = sgd_clf.predict(X_test)

cm = confusion_matrix(y_test, y_pred)
print(cm)

[[46 37]
 [10 46]]

In [32]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.82      0.55      0.66        83
           1       0.55      0.82      0.66        56

    accuracy                           0.66       139
   macro avg       0.69      0.69      0.66       139
weighted avg       0.71      0.66      0.66       139

In [33]:
y_train_pred = sgd_clf.predict(X_train)
print("Accuracy Score", accuracy_score(y_test, y_pred)*100)

Accuracy Score 66.18705035971223

In [34]:
print(f1_score(y_test, y_pred))

0.6618705035971223