# Titanic

## Exercícios

1 Leia os dados train.csv usando pandas

2 Remova a coluna com nomes de pessoas

3 A coluna Cabin contém uma letra e um número. Crie uma nova coluna chamada deck usando apenas a letra de cada registro presente na coluna Cabin.

4 Substitua os valores ausentes pela média de valores da coluna

5 Os valores da coluna "embarked" sao os seguintes: C = Cherbourg, Q = Queenstown, S = Southampton

6 Crie um CSV com essas uma coluna nome_cidade_de_embarque: C = Cherbourg, Q = Queenstown, S = Southampton e mais uma coluna chamada população com valores hipotéticos, faça um merge entre o CSV train.csv e esse novo CSV com os nomes das cidades. Implemente um filtro de passageiros por população da cidade de embarque

In [7]:
import pandas as pd
import sqlite3


url = "https://raw.githubusercontent.com/advinstai/python-datascience/master/Exercicios/titanic/train.csv"
csv_data = pd.read_csv(url, encoding="utf-8", sep=",")
print("\nShape do arquivo lido", csv_data.shape)
print("\nSample:\n", csv_data.sample(5))

"""
con = sqlite3.connect(":memory:")
cur = con.cursor()
cur.execute("CREATE TABLE t (col1, col2);") # use your column names here

with open('data.csv','rb') as fin: # `with` statement available in 2.5+
    # csv.DictReader uses first line in file for column headings by default
    dr = csv.DictReader(fin) # comma is default delimiter
    to_db = [(i['col1'], i['col2']) for i in dr]

cur.executemany("INSERT INTO t (col1, col2) VALUES (?, ?);", to_db)
con.commit()
con.close()



df = pandas.read_csv(csvfile)
df.to_sql(table_name, conn, if_exists='append', index=False)
"""

Shape do arquivo lido (891, 12)
Sample      PassengerId  Survived  Pclass                                  Name  \
520          521         1       1                 Perreault, Miss. Anne
501          502         0       3                   Canavan, Miss. Mary
365          366         0       3        Adahl, Mr. Mauritz Nils Martin
107          108         1       3                Moss, Mr. Albert Johan
98            99         1       2  Doling, Mrs. John T (Ada Julia Bone)

        Sex   Age  SibSp  Parch  Ticket    Fare Cabin Embarked
520  female  30.0      0      0   12749  93.500   B73        S
501  female  21.0      0      0  364846   7.750   NaN        Q
365    male  30.0      0      0  C 7076   7.250   NaN        S
107    male   NaN      0      0  312991   7.775   NaN        S
98   female  34.0      0      1  231919  23.000   NaN        S

'\ncon = sqlite3.connect(":memory:")\ncur = con.cursor()\ncur.execute("CREATE TABLE t (col1, col2);") # use your column names here\n\nwith open(\'data.csv\',\'rb\') as fin: # `with` statement available in 2.5+\n    # csv.DictReader uses first line in file for column headings by default\n    dr = csv.DictReader(fin) # comma is default delimiter\n    to_db = [(i[\'col1\'], i[\'col2\']) for i in dr]\n\ncur.executemany("INSERT INTO t (col1, col2) VALUES (?, ?);", to_db)\ncon.commit()\ncon.close()\n\n\n\ndf = pandas.read_csv(csvfile)\ndf.to_sql(table_name, conn, if_exists=\'append\', index=False)\n'